#canvas{
    margin: auto;
    background: #ececec;
    width: 100%;
}
/* .btn-disabled{
    color: #fff !important;
} */

/* .footer{
    background: cornflowerblue;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
} */